@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.flex-container-footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#333333;
  color: white;
  text-align: center;
}

.flex-child-footer {
  position: relative;
  flex: 1;
}

.footer-header{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-body{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.footer-body-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon{
  vertical-align: middle;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-email-input {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  color: #828282;
  font-size: 16px;
  margin-left: -27px;
  margin-top: 10px;
}

.footer-sign-up-button { 
  margin-top: 10px;
  position:absolute;
  margin-left: -7px;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.sign-up-button:hover {
  opacity: 0.5;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pText{
  color: black;
  text-align: left;
}