.NavbarItems {
    background: white;
    height: 100px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    /*top: 0;*/
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 8px 2px #808080;
    /*position: absolute;*/
}


.navbar-logo {
    color: black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-space-evenly;

}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;   
}

.fa-bars{
    color: white;
}

.menu-icon{
    display: none;
}

.buffer {
    height: 110px;
}

.logo {
    margin-top: 10px;
    height: 40px;
    margin-left: 50px;
    cursor: pointer;
}

.header-icon {
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.header-icon:hover {
    opacity: 0.5;
}

.menu-item {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    
    /* identical to box height */

    transition: 0.3s;
    color: #686868;
    cursor: pointer;
    text-decoration: none;
}

.menu-item:hover {
    opacity: 0.5;
    color: #686868;
    text-decoration: none;
}

.buffer {
    width: 80%;

}

.endbuffer {
    width: 40px;
}

nav {
    padding-left: 40px;
}