  .h2 {
    color: white;
  }
  
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
    -webkit-overflow-scrolling: touch;
  }
  
  .card {
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
  }

  .item {
    height: 400px;
    transition: 0.3s;
    cursor: pointer;
  }

  .item:hover {
      opacity: 60%;
  }

  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }

